**Extracción de características**

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.decomposition import PCA, KernelPCA
from sklearn.datasets import make_circles

In [39]:
file = 'C:/Users/Ivan/Desktop/listingsp3.csv'

In [40]:
all_variables = ['room_type','price', 'minimum_nights', 'number_of_reviews', 
                 'calculated_host_listings_count', 'availability_365']

In [41]:
features = ['price', 'minimum_nights', 'number_of_reviews', 
                 'calculated_host_listings_count', 'availability_365']

In [42]:
target = ['room_type']

In [43]:
df = pd.read_csv(file, names=all_variables)

In [45]:
df.head()

,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,Private room,70,1,65,1,53
1,Private room,17,4,33,2,48
2,Entire home/apt,80,5,2,1,354
3,Entire home/apt,115,3,64,1,301
4,Private room,25,2,136,1,337

In [47]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_sc = pd.DataFrame(scaler.fit_transform(df[features]),
                 columns=features)

C:\Users\Ivan\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [49]:
df_sc.head()

,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,0.006206,0.000000,0.107926,0.000000,0.145205
1,0.000901,0.002669,0.053963,0.004348,0.131507
2,0.007206,0.003559,0.001686,0.000000,0.969863
3,0.010710,0.001779,0.106239,0.000000,0.824658
4,0.001702,0.000890,0.227656,0.000000,0.923288

Hay **5** features o características en los datos originales. Así que PCA proporcionará el mismo número de componentes principales.

In [51]:
pca = PCA()
df_pca = pd.DataFrame(pca.fit_transform(df[features]),
                     columns=features)
df_pca.head()

,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,-30.991404,101.230514,24.926364,-4.067194,-2.433210
1,-83.751898,106.264887,-7.511404,-4.425624,0.145179
2,-11.536538,-195.451971,-52.261861,-22.173758,-1.364763
3,21.220062,-144.743765,12.574631,-16.392629,-2.065366
4,-68.478054,-186.901078,81.507373,-13.889303,-2.204923

In [68]:
explained_variance = pca.explained_variance_ratio_
explained_variance

array([0.81604499, 0.1372661 , 0.03599747, 0.00734861, 0.00334283])